{% extends 'base.html' %}
{% block title %} {{ user_obj.username }}{% endblock %}
{% block menu %}
    {% if user_obj == request.user %}
        <li class="nav-item"><a href="{% url 'accounts:user_update' user_obj.pk %}" class="nav-link">Edit</a> </li>
        <li class="nav-item"><a href="{% url 'accounts:user_change_password' user_obj.pk %}" class="nav-link">Change password</a></li>
    {% endif %}
{% endblock %}
{% block content %}
    <h1 class="text-center">Profile: {{ user_obj.username }}</h1>
    {% if user_obj.profile.avatar %}
        <p><img class="avatar" src="{{ user_obj.profile.avatar.url }}"></p>
    {% else %}
            <p><img class="avatar" src="http://vovet.ru/uploads/img/87/2d2008efd304884c51cf7c6825e12bb8-650.jpg"></p>
    {% endif %}
    <b>First name:</b> {{ user_obj.first_name }}<br>
    <b>Last name:</b> {{ user_obj.last_name }}<br>
    <b>Email:</b> {{ user_obj.email }}<br>
    <b>About me:</b> {{ user_obj.profile.about_me }}<br>
    <b>GitHub profile:</b> {{ user_obj.profile.github_profile }}
{% endblock %}