{% extends 'base.html' %}
{% block title %} {{ user_obj.username }}{% endblock %}
{% block menu %}
    {% if user_obj == request.user %}
        <li class="nav-item"><a href="{% url 'accounts:user_update' user_obj.pk %}" class="nav-link">Edit</a> </li>
        <li class="nav-item"><a href="{% url 'accounts:user_change_password' user_obj.pk %}" class="nav-link">Change password</a></li>
    {% endif %}
{% endblock %}
{% block content %}
    <h1 class="text-center">Profile: {{ user_obj.username }}</h1>
    {% if user_obj.profile.avatar %}
        <p><img class="avatar" src="{{ user_obj.profile.avatar.url }}"></p>
    {% endif %}
    <p>First name: {{ user_obj.first_name }}</p>
    <p>Last name: {{ user_obj.last_name }}</p>
    <p>Email: {{ user_obj.email }}</p>
    <p>About me: {{ user_obj.profile.about_me }}</p>
    <p>GitHub profile: {{ user_obj.profile.github_profile }}</p>
{% endblock %}