body{
    font-family: Arial, sans-serif;
    background-color: lightgrey;
}
.card{
    margin-left: 100px;
    background-color: lightblue;
}
.zagolovok{
    margin-left: 230px;
}
.card-text{
    margin-right: 50px;
}
.navbar{
    margin-bottom: 35px;
}
.icon{
    float: right;
}

.form-error {
    color: red;
    font-size: 12px;
    margin: 5px 0 0 0
}

.field-error {
    border: solid 1px red;
    box-shadow: red 0 0 3px;

}
.form-text{
    margin-top: 20px;
}
span{
    color: red;
    font-weight: 600;
}
.btn.btn-success{
    width: 410px;
}
.btn-floating{
    margin-left: 450px;
    margin-bottom: 30px;
}

.card.w-75{
    margin-left: 110px;
}
.btn-danger{
    width: 100px;
    margin-top: 20px;
}
.no{
    width: 100px;
}
.card-body {
    background-color: lightblue;
    border: 2px solid black;
}
.text-center{
    margin-right: 100px;
}
.zagol{
    margin-left: 320px;
}
.linki{
    margin-left: 50px;
}
.pagination {
    margin-left: 230px;
    margin-bottom: 20px;
}

.pagination a, .pagination .page-disabled {
   display: inline-block;
   border: solid 1px #6a7ddd;
   border-radius: 3px;
   padding: 5px;
   margin: 3px;
}

.pagination a {
   background: #6a7ddd;
   color: white;
}

.pagination a:hover {
    background: #6a7dff;
    text-decoration: none;
}
.current{
    color: firebrick;
}
.page-disabled{
    color: firebrick;
}
.task-list {
    margin-top: 10px;
    margin-bottom: 10px;
}

.task {
    border: solid 1px darkgray;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.task p {
    margin: 0 0 5px;
}

.task-links {
    text-align: right;
}

.task .task-links {
    margin: 5px 0 0;
}
.proj{
    margin-left: 355px;
}
.date{
    margin-right: 40px;
}
.log{
    /*margin-left: 820px;*/
    position: absolute;
    right: 180px;
}
.avatar {
    display: inline-block;
    float: left;
    width: 250px;
    height: auto;
    margin-right: 20px;
}
.text-center.mb-3 {
    margin-left: 60px;

}
.card.w-75{
    margin-left: 100px;
}