{% extends 'base.html' %}
{% block menu %}
        <li class="nav-item">
            <a href="{% url 'webapp:status_create' %}" class="nav-link">Create</a>
        </li>
{% endblock %}
{% block content %}
    <h1 class="zagolovok mt-3 mb-3">Statuses</h1>
    {% for status in statuses %}
        <p>Status - {{ status.status }} <a class="icon mr-2"
                                           href="{% url 'webapp:status_update' status.pk %}"><i
                class="fas fa-edit"></i></a><a class="icon mr-2" href="{% url 'webapp:status_delete' status.pk %}"><i
                class="fas fa-trash-alt"></i></a></p>
    {% endfor %}
{% endblock %}