{% extends 'base.html' %}

{% block title %}{{ task.summary }}{% endblock %}

{% block menu %}
{#    <li><a href="{% url "article_update" article.pk %}">Edit</a></li>#}
{#    <li><a href="{% url "article_delete" article.pk %}">Delete</a></li>#}
{% endblock %}

{% block content %}
    <h1 class="mt-2">{{ task.summary }}</h1>
    <p> Type: {{ task.type|default_if_none:'no type' }}, Status: {{ task.status|default_if_none:'no status' }}<br>
           Created at {{ task.date_create|date:'d.m.Y H:i:s' }}</p>
    <div class="pre">{{ task.description }}</div>
{% endblock %}