{% extends 'base.html' %}

{% block title %}{{ projects.name }}{% endblock %}

{% block menu %}
    {% if perms.webapp.change_project %}
     <li class="nav-item">
        <a href="{% url 'webapp:project_update' projects.pk %}" class="nav-link">Edit</a>
    </li>
    {% endif %}
    {% if perms.webapp.delete_project %}
    <li class="nav-item">
        <a href="{% url 'webapp:project_delete' projects.pk %}" class="nav-link">Delete</a>
    </li>
    {% endif %}
    {% if perms.webapp.change_team %}
    <li class="nav-item">
        <a href="{% url 'webapp:edit_team' projects.pk %}" class="nav-link">Change team</a>
    </li>
    {% endif %}
{% endblock %}

{% block content %}
    <h1 class="mt-2"> More information about {{ projects.name }}</h1>
    <p><b>Created at {{ projects.create_date|date:'d.m.Y H:i:s' }}</b></p>
    <div class="pre">{{ projects.description }}</div>
    <h4 class="text-center mt-4"> Users</h4>
    {% for team in projects.project_users.all %}
        {% if team.end_date == None %}
            <p>{{ team.user.username }}.  <b>Start date:</b> {{ team.start_date }}</p>
        {% endif %}
        {% endfor %}
    <hr/>
    <h3 class="mt-5 text-center">Tasks:</h3>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}

    <div class="task-list">
        {% for task in tasks %}
            <div class="task">
                <p><b>{{ task.summary }} created by {{ task.created_by }} at {{ task.date_create|date:'d.m.Y H:i:s' }}</b></p>
                <div class="pre">{{ task.description }}</div>
                    <p class="comment-links">
                        {% if perms.webapp.change_task %}
                            <a href="{% url 'webapp:task_update' task.pk %}">Edit</a>
                        {% endif %}
                        {% if perms.webapp.delete_task %}
                            <a href="{% url 'webapp:task_delete' task.pk %}">Delete</a>
                        {% endif %}
                    </p>
            </div>
        {% empty %}
            <p>No tasks yet.</p>
        {% endfor %}
    </div>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}